---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/images/hero-image.png";
import shootingStarImage from "../assets/images/shooting-star.png";
import risingSunImage from "../assets/images/rising-sun.png";
import massiveWorldImage from "../assets/images/massive-world.png";
import spaceFarmImage from "../assets/images/space-farm.png";
---

<Layout title="Welcome to Astro.">
	<main>
		<Image src={heroImage} alt="Temporal" class="relative -top-[39px]" />
		<h1
			class="font-[Gruppo] text-[39px] tracking-[.25rem] mt-[4px] text-center leading-[25px]"
		>
			Between Frames
		</h1>
		<div class="mt-[62px] flex justify-center gap-5">
			<div>
				<Image src={shootingStarImage} alt="Temporal" />
				<h2
					class="font-[Homenaje] text-[20px] leading-[25px] tracking-[.125rem] text-center mt-[16px]"
				>
					PROJECTS
				</h2>
			</div>
			<div class="font-[Homenaje] w-[605px]">
				<div class="w-[575px] mx-auto">
					<h2 class="text-[20px] leading-[25px] tracking-[.125rem]">
						About me
					</h2>
					<p
						class="mt-[20px] text-[20px] leading-[25px] tracking-[.125rem]"
					>
						Lorem ipsum dolor sit amet consectetur. Mauris donec
						bibendum nibh nam. Pellentesque nibh odio auctor risus
						dui ipsum lorem odio nec. Tellus tincidunt imperdiet
						vitae commodo nibh dolor quam habitant at. Ut nibh lorem
						sed diam pretium at sit suscipit neque.
					</p>
				</div>
				<Image src={spaceFarmImage} alt="Temporal" class="mt-[15px]" />
			</div>
			<div>
				<Image src={risingSunImage} alt="Temporal" />
				<h2
					class="font-[Homenaje] text-[20px] leading-[25px] tracking-[.125rem] text-center mt-[16px]"
				>
					BLOG
				</h2>
			</div>
		</div>
		<Image src={massiveWorldImage} alt="Temporal" class="mt-[72px]" />
	</main>
</Layout>
