---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";

import emailIcon from "@assets/icons/mdi_email.svg?raw";
import linkedinIcon from "@assets/icons/mdi_linkedin.svg?raw";
import twitterIcon from "@assets/icons/mdi_twitter.svg?raw";
import githubIcon from "@assets/icons/mdi_github.svg?raw";

const posts: CollectionEntry<"blog">[] = await getCollection("blog");

posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);

const social = [
  {
    name: "Email",
    link: "mailto:kenneth.quintero@betweenframes.net",
    icon: emailIcon,
  },
  {
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/kenneth-de-guadalupe-quintero-valles-1971a12a8/",
    icon: linkedinIcon,
  },
  {
    name: "X",
    link: "https://x.com/cin4ed",
    icon: twitterIcon,
  },
  {
    name: "GitHub",
    link: "https://github.com/cin4ed",
    icon: githubIcon,
  },
];

const projects = [
  {
    title: "Worky",
    description: "mac OS desktop organizer",
    link: "/projects/worky",
  },
  {
    title: "Enfá",
    description: "food delivery for my town",
    link: "/projects/enfa",
  },
  {
    title: "Roamr",
    description: "Find and share abandoned places",
    link: "/projects/roamr",
  },
  {
    title: "Basseta",
    description: "Create music with a node based editor",
    link: "/projects/basseta",
  },
];

function formateDate(date: Date): string {
  const day = String(date.getDay()).padStart(2, "0");
  const month = String(date.getMonth()).padStart(2, "0");
  const year = date.getFullYear();

  return `${day}-${month}-${year}`;
}
---

<BaseLayout>
  <div class="space-y-7 uppercase text-foreground">
    <section class="flex justify-between">
      <h1>KENNETH QUINTERO</h1>
      <div class="flex gap-2">
        {
          social.map((item) => (
            <a href={item.link}>
              <span set:html={item.icon} />
            </a>
          ))
        }
      </div>
    </section>
    <hr class="hr-dashed" />
    <section>
      <h2>THINGS I'M WORKING ON/THINGS I'VE BUILT</h2>
      <div class="mt-4 space-y-1 font-extralight">
        {
          projects.map((item) => (
            <a
              href={item.link}
              class="block font-extralight hover:bg-foreground hover:text-background"
            >
              - {item.title} | {item.description}
            </a>
          ))
        }
      </div>
    </section>
    <hr class="hr-dashed" />
    <section>
      <h2 class="uppercase">Me trying to be a writer</h2>
      <div class="mt-4 space-y-1 font-extralight">
        {
          posts.map(async (post) => (
            <a
              href={`/posts/${post.id}`}
              class="flex justify-between hover:bg-foreground hover:text-background"
            >
              <span>{post.data.title}</span>
              <span>{formateDate(post.data.pubDate)}</span>
            </a>
          ))
        }
      </div>
    </section>
  </div>
</BaseLayout>
