---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/images/hero-image.png";
import shootingStarImage from "../assets/images/shooting-star.png";
import risingSunImage from "../assets/images/rising-sun.png";
import massiveWorldImage from "../assets/images/massive-world.png";
import spaceFarmImage from "../assets/images/space-farm.png";
---

<Layout title="Welcome to Astro.">
	<main>
		<Image
			src={heroImage}
			alt="Temporal"
			class="relative mx-auto -top-[39px]"
			loading="eager"
		/>
		<h1
			class="font-[Gruppo] text-[39px] tracking-[.25rem] mt-[4px] text-center leading-[25px]"
		>
			Between Frames
		</h1>
		<div class="mt-[62px] flex justify-center gap-5">
			<div>
				<Image src={shootingStarImage} alt="Temporal" />
				<h2
					class="font-[Homenaje] text-[20px] leading-[25px] tracking-[.125rem] text-center mt-[16px]"
				>
					PROJECTS
				</h2>
			</div>
			<div class="font-[Homenaje] w-[605px]">
				<div class="w-[575px] mx-auto">
					<h2 class="text-[20px] leading-[25px] tracking-[.125rem]">
						About me
					</h2>
					<p
						class="mt-[20px] text-[20px] leading-[25px] tracking-[.125rem]"
					>
						My name is Kenneth Quintero, and my favorite activities
						are wondering, learning and doing, particularly in that
						order.
					</p>
					<p
						class="mt-[20px] text-[20px] leading-[25px] tracking-[.125rem]"
					>
						I often find myself deeply intrigued by the 'why' and
						'how' of most of the things that exist and happen in
						this world, so you could say I'm mostly driven by
						curiosity.
					</p>
					<p
						class="mt-[20px] text-[20px] leading-[25px] tracking-[.125rem]"
					>
						I believe I can make an impact in this world; right now,
						I'm just figuring out how.
					</p>
					<p
						class="mt-[20px] text-[20px] leading-[25px] tracking-[.125rem]"
					>
						<a
							href="mailto:kennethgqv@gmail.com"
							class="hover:underline">email</a
						> |
						<a href="" class="hover:underline">github</a>
					</p>
				</div>
				<!-- <Image src={spaceFarmImage} alt="Temporal" class="mt-[15px]" /> -->
			</div>
			<div>
				<Image src={risingSunImage} alt="Temporal" />
				<h2
					class="font-[Homenaje] text-[20px] leading-[25px] tracking-[.125rem] text-center mt-[16px]"
				>
					BLOG
				</h2>
			</div>
		</div>
		<Image
			src={massiveWorldImage}
			alt="Temporal"
			class="mt-[72px] mx-auto"
		/>
	</main>
</Layout>
