---
import "@fontsource/Gruppo";
import "@fontsource/inter";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<!doctype html>
<html lang="en" class="bg-background text-foreground antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>BetweenFrames</title>
  </head>
  <body class="p-4">
    <h1
      class="text-center font-[Gruppo] text-primary text-3xl lg:text-[39px] tracking-widest"
    >
      Between Frames
    </h1>
    <!-- <p class="font-light">
        Hi there! I'm Kenneth, a software engineer and writer. I'm currently working on a few projects and writing about them here. Feel free to check them out!
    </p> -->
    <p class="font-light mt-3">
      ¡Hola! Soy Kenneth, un ingeniero de software y este es mi blog.
      Actualmente estoy trabajando en algunos proyectos y escribiendo sobre
      ellos aquí. ¡Siéntete libre de echarles un vistazo!
    </p>
    <h2>Posts</h2>
    <div class="grid gap-3 mt-3 auto-rows-fr">
      {
        blogPosts.map((post) => (
          <div class="border rounded border-secondary">
            <a href={`/blog/posts/${post.slug}`}>
              <div class="bg-secondary p-1">
                <h2 class="text-lg font-[Inter]">{post.data.title}</h2>
              </div>
              <p class="mt-2">{post.data.description}</p>
            </a>
          </div>
        ))
      }
    </div>
  </body>
</html>

<!-- <BaseLayout title="BetweenFrames"> -->
<!-- <div class="px-8 pt-10">
      <div
        class="mt-10 font-[Homenaje] text-lg md:text-2xl md:max-w-lg mx-auto"
      >
        <div class="mt-4 space-y-3">
          <p class="text-center">
          </p>
        </div>
        <div class="flex justify-center mt-7 divide-x">
          <a
            href="/projects"
            class="hover:underline px-2 border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
            >projects</a
          >
          <a
            href="/blog"
            class="hover:underline px-2 border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
            >blog</a
          >
          <a
            href="mailto:kennethgqv@gmail.com"
            class="hover:underline px-2 border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
            >email</a
          >
          <a
            href="https://github.com/cin4ed"
            class="hover:underline px-2 border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
            >github</a
          >
        </div>
      </div>
      <div class="grid gap-5 py-10">
        {
          blogPosts.map((post) => {
            return (
              <div class="rounded-lg p-2 border border-secondary-foreground">
                <h2 class="text-2xl font-[Gruppo]">{post.data.title}</h2>
                <p class="mt-2">{post.data.description}</p>
              </div>
            );
          })
        }
      </div>
    </div>
    <Image
      src={massiveWorldImage}
      class="object-cover h-56 sm:h-72 md:h-auto"
      alt="A human on the edge of a space structure observes a giant ring rising above a massive planet below it."
    /> -->
<!-- </BaseLayout> -->
