---
import BaseLayout from "@layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getEnglishDate } from "@utils/date";
import workyScreenshot1 from "@assets/images/worky-screenshot-1.png";
import roamrScreenshot1 from "@assets/images/roamr-screenshot-1.webp";

const posts: CollectionEntry<"blog">[] = await getCollection(
  "blog",
  ({ data }) => data.lang === "en" && data.draft !== true
);

posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

const social = [
  {
    name: "GitHub",
    link: "https://github.com/cin4ed",
    iconClass: "fab fa-github",
  },
  {
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/kenneth-de-guadalupe-quintero-valles-1971a12a8/",
    iconClass: "fab fa-linkedin",
  },
  {
    name: "X",
    link: "https://x.com/cin4ed",
    iconClass: "fab fa-x-twitter",
  },
  {
    name: "Email",
    link: "mailto:kenneth.quintero@betweenframes.net",
    iconClass: "fas fa-envelope",
  },
];

const projects = [
  {
    title: "Worky",
    description: "A macOS app that helps you manage your desktop files.",
    link: "/projects/worky",
    image: workyScreenshot1,
  },
  {
    title: "Roamr",
    description: "An app that helps you find and share abandoned places.",
    link: "/projects/roamr",
    image: roamrScreenshot1,
  },
];
---

<BaseLayout>
  <div class="space-y-10 font-['Crimson_Pro'] text-stone-700">
    <div>
      <h2 class="bg-amber-900/15 px-2 text-lg">About me</h2>
      <hr />
      <p class="text-md mt-4">
        Hi, I'm Kenneth and this is BetweenFrames, my personal website. Here you
        can find a list of projects I've worked on and some blog posts written
        by me. Feel free to take a look. If you want to get in touch, you can
        find me on the following platforms:
      </p>
      <div class="mt-4 flex flex-wrap gap-4">
        {
          social.map((item) => (
            <a href={item.link} class="flex items-center gap-2">
              <i class={item.iconClass} />
              {item.name}
            </a>
          ))
        }
      </div>
    </div>
    <div>
      <h2 class="bg-amber-900/15 px-2 text-lg">Projects</h2>
      <hr />
      <div class="mt-4 grid grid-cols-2 gap-5 md:grid-cols-4">
        {
          projects.map((project) => (
            <a href={project.link} class="block space-y-2">
              <img
                src={project.image.src}
                alt={project.title}
                class="h-32 w-full rounded-lg object-cover"
                style="user-drag: none;"
              />
              <h3 class="text-lg">{project.title}</h3>
              <p class="text-sm">{project.description}</p>
            </a>
          ))
        }
      </div>
    </div>
    <div>
      <h2 class="bg-amber-900/15 px-2 text-lg">Blog</h2>
      <hr />
      <div class="mt-4 divide-y divide-stone-200">
        {
          posts.length === 0 ? (
            <p class="py-3 text-stone-500">
              No posts at the moment. Check back later!
            </p>
          ) : (
            posts.map(async (post) => (
              <div class="flex flex-col py-3 sm:flex-row sm:items-center sm:justify-between">
                <p class="order-1 text-sm text-stone-500 sm:order-2">
                  {getEnglishDate(new Date(post.data.pubDate))}
                </p>
                <a
                  href={`/en/blog/${post.id}`}
                  class="order-2 text-balance text-lg hover:underline sm:order-1"
                >
                  {post.data.title}
                </a>
              </div>
            ))
          )
        }
      </div>
    </div>
  </div>
</BaseLayout>
